/build/
/.vscode/
/.idea/
/.cache/
/cmake-build-debug/
/cmake-build-release/
/external/
/subprojects/mimalloc/
/subprojects/datatype99/
/subprojects/raylib/
/subprojects/interface99/
/subprojects/stc/
/subprojects/cexception/
